.style_button_select{
    border: none;
    border-bottom: 1px solid #33333358;
    outline: none;
    width: 90%;
    max-width: 600px;
    padding: 2%;
    transition: .2s;
    cursor: pointer;
}

.style_button_select:hover{
    background-color: var(--main-bg-color);
    color: var(--first-bg-color);
    scale: 1.02;
}

@media (max-width: 768px) {
    .style_button_select{
        height: 7em;
        border-bottom: 1px solid var(--main-bg-color);
        display: flex;
        align-items: center;
        justify-content: start;
    }
}