.container_proyects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    height: auto;
    min-height: var(--heigth-content-sections);
    width: 90vw;
}


@media (max-width: 768px) {
    .container_proyects {

        min-height: 100vh;
        width: 100vw;
    }
}

/*1350*/

