@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500&display=swap");
* {
  --first-bg-color: #f0f8fb;
  --main-bg-color: rgba(198, 10, 63, 0.678);
  --main-bg_second-color: rgb(240, 46, 121, 0.4);
  --main-bg_three-color: rgba(221, 37, 98, 0.3);
  --main-bg_four-color: rgba(184, 17, 73, 0.2);

  --heigth-content-sections: 1080px;
  --main-fonts-color: rgba(198, 10, 63, 0.678);
  --second-fonts-color: #c64c0a86;
  --three-fonts-color: rgba(0, 0, 0, 0.744);
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--three-fonts-color);
}
body {
  background-color: var(--first-bg-color);
}
h1 {
  font-weight: 500;
  line-height: 0;
}
h2 {
  font-weight: 400;
  line-height: 24px;
  margin: 0 0;
  font-size: 22px;
}
h3 {
  font-weight: 300;
}
p {
  font-weight: 200;
  margin: 10px 0;
}
button {
  background-color: var(--first-bg-color);
}

.techs-enter {
  opacity: 0;
  margin-left: -5000px;
  animation: list .7s;

}

.techs-enter-active {
  opacity: 1;
  transition: .7s;
  margin-left: 0;

}
.techs-enter-done {
  opacity: 1;
  margin-left: 0;
  transition: .7s;
  height: 23em;
}

.techs-exit {
  opacity: 1;
  margin-left: 0;
  
  animation: list_reverse .7s;
}

.techs-exit-active {
  opacity: 0;
  margin-left: -5000px;
  transition: .7s;

}
.techs-exit-done {
  margin-left: -5000px;
  opacity: 0;
  height: 0;

}

@keyframes list {
  0% {
    height: 0px;

  }

  100% {
    height: 23em;
  }
}
@keyframes list_reverse {
  0% {
    height: 23em;
  }

 100%{
    height: 0px;

  }
}

@media (min-width: 1130px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 28px;
    line-height: 28px;
  }
  h3 {
  }
  p {
    font-size: 24px;
    text-align: start;
  }
  button {
    font-size: 20px;
  }
}
/*#c64c0a86*/
/*rgba(198, 10, 63, 0.678)
#e4f0f7
*/
